.env
.cache
*.txt
.idea
.DS_Store
.venv/
venv/
cache/
downloads/
__pycache__/
anony/cookies/*.txt
*.session
*.session-journal
.env
bot.log
log.txt
downloads/
cache/
*.zip
getid.py
tesfoto.py
config.py.
*.bak
